<%-include("Partials/header")-%>
<style>
    body{
      background:url('https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=600');
    }
</style>
<link rel="stylesheet" href="/style.css">
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/home-dashboard">TMS</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <form class="form-inline my-2 my-lg-0" action="/home-dashboard" method="POST">
        <div>
          <a href="/Profile"><svg xmlns="http://www.w3.org/2000/svg" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 30 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg></a>
        </div>
          <!-- <div class="post_btn"><a class="btn btn-dark btn-lg mr-sm-2" href="/Create-post" role="button">Create Post</a></div> -->
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Out</button>
      </form>
    </div>
  </nav>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.js"></script>
  <style>
    .ah1{
        font-size:0.5cm;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1.3px solid green;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color:black;
    }
    .subtotal{
        display:flex;
        flex-direction: column;
        margin-top:20px;
        margin-bottom:20px;
    }
  </style>
  <h2 class="ah">Your Leave</h2>
  <div class="appointment">
    <div class="subtotal">
        <table>
            <thead>
                <tr>
                    <th>Applied on</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Reason</th>
                    <th>Link of attached documents</th>
                </tr>
            </thead>
            <tbody>
                <% leaves.forEach(leave=>{%>
                    <% const dateString = leave.applyDate;
                       const date = new Date(dateString);
                       const formattedDate = date.toLocaleDateString("en-US", {
                          weekday: "short",
                          month: "short",
                          day: "numeric",
                          year: "numeric",
                        });
                    %>
                    <tr>
                        <td><%=formattedDate%></td>
                        <td><%= leave.startDate%></td>
                        <td><%= leave.endDate%></td>
                        <td><%= leave.purpose%></td>
                        <td><%= leave.document%></td>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </div>
  </div>