<%-include("Partials/header")-%>
  <style>
        body {
            background-color: #f0f2f5;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .userdetails {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            background-color: #ffffff;
              border-radius: 12px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            max-width: 500px;
            width: 90%;
            margin: auto;
            animation: fadeIn 1s ease-in-out;
        }

        .user {
            text-align: center;
            transition: transform 0.3s ease-in-out;
        }

        .user:hover {
            transform: scale(1.05);
        }

        .prf {
            margin-bottom: 20px;
        }

        .bi-person-circle {
            fill: #007bff;
            transition: fill 0.3s ease-in-out;
        }

        .bi-person-circle:hover {
            fill: #0056b3;
        }

        .beu {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .ba a {
            color: #007bff;
            text-decoration: none;
            margin-top: 10px;
            transition: color 0.3s ease-in-out;
        }

        .ba a:hover {
            color: #0056b3;
        }

        .rounded-image {
            border-radius: 50%;
            object-fit: cover;
            max-width:40%;
            margin-bottom: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        }

        .rounded-image:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        h2 {
            color: #333;
            font-size: 1.8rem;
            margin-bottom: 10px;
            transition: color 0.3s ease-in-out;
        }

        h2:hover {
            color: #007bff;
        }

        h5 {
            color: #666;
            font-size: 1rem;
            margin: 5px 0;
        }
        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(-20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        .modal{
          display:none;
        }
    </style>
    <div class="userdetails">
        <div class="user">
            <div class="prf">
                <% console.log(user)%>
                <% if(user.profilePictureUrl === undefined) { %>
                    <div class="beu">
                      <a data-toggle="modal" data-target="#uploadProfileModal" style="cursor:pointer;margin-top:2%"><svg xmlns="http://www.w3.org/2000/svg" height="80" fill="currentColor" class="bi bi-person-circle " viewBox="0 0 30 16" style="margin-left:25%">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                      </svg></a>
                    </div>
                <% } else { %>
                    <a data-toggle="modal" data-target="#uploadProfileModal" style="cursor:pointer"><img src='<%=user.profilePictureUrl%>' class="rounded-image"></a>
                <% } %>
            </div>
            <h2><%= user.username %></h2>
            <h5>Email: <%= user.email %></h5>
            <h5>Phone No: <%= user.phone_no %></h5>
        </div>
    </div>
    <div class="modal fade" id="uploadProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Upload Image</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="" id="profilePictureForm" enctype="multipart/form-data">
            <div class="modal-body">
              <input type="hidden" name="id" id="upload-id">
              <input class="form-label" type="file" id="profilePictureInput" name="profilePicture" accept="image/*" required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Upload</button>
            </div>
          </form>
          <div id="upload-message-id"></div>
        </div>
      </div>
    </div>
    <script>
      document.getElementById('profilePictureForm').addEventListener('submit', async function (event) {
          event.preventDefault();
          document.getElementById('uploadProfileModal').style.display='block';
          const formData = new FormData();
          const fileInput = document.getElementById('profilePictureInput');
          console.log(fileInput.files);
          formData.append('profilePicture', fileInput.files[0]);
    
          try {
              const response = await fetch('/upload-profile-picture', {
                  method: 'POST',
                  body: formData
              });
    
              const data = await response.json();
              if (response.ok) {
                document.getElementById('upload-message-id').textContent = data.message;
                document.getElementById('profilePicture').src = data.profilePictureUrl;
              } else {
                document.getElementById('upload-message-id').textContent = 'Error: ' + data.error;
              }
              location.reload();
          } catch (error) {
              console.log('Error uploading profile picture:', error);
              document.getElementById('upload-message-id').textContent = 'An error occurred while uploading profile picture';
              location.reload();
          }
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="/socket.io/socket.io.js"></script> 
    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


