<%-include("Partials/header")-%>
<style>
    body{
        background-color: #b6bef0;
    }
</style>
<link rel="stylesheet" href="/style.css">
<style>
    .hist{
        display:flex;
        flex-direction: column;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #040404;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
    tbody tr .ce{
        color:red;
    }
    canvas {
        
        margin: auto;
        height:60px;
        width:60px;
        max-height:600px;
        max-width:600px;
        margin-top:50px;
        margin-bottom:50px;
        color:white;
    }
    .total {
        display: flex;
        flex-direction: column;
        margin-top:50px;
    }
    .total .subtotal{
        display:flex;
        flex-direction: column;
        margin-top:20px;
        margin-bottom:20px;
        margin-left:50px;
        margin-right:50px;
    }
    .total .ff{
        display:flex;
        place-content: center;
    }
</style>
<div class="total">
    <div class="subtotal">
        <table>
            <thead>
              <tr>
                <th>Employee</th>
                <th>Total Time Spent (minutes)</th>
              </tr>
            </thead>
            <tbody>
              <% taskTimeStats.forEach(stat => { %>
                <tr>
                  <td><%= stat.user %></td>
                  <td><%= stat.totalTimeSpent %></td>
                </tr>
              <% }); %>
            </tbody>
        </table>
    </div>
    <div class="subtotal">
        <table>
            <thead>
              <tr>
                <th>Employee</th>
                <th>Total Time on Leave (days)</th>
              </tr>
            </thead>
            <tbody>
              <% leaveTimeStats.forEach(stat => { %>
                <tr>
                  <td><%= stat.user %></td>
                  <td><%= stat.totalLeaveTime %></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
    </div>
</div>
